@using MvcPaging
@model List<bemobile.Models.DokuCareModel>
@{
    ViewBag.Title = "BYP Transactions";
    Layout = "~/Views/Shared/bm_Layout_Care.cshtml";
}

<link href="@Url.Content("~/Content/Admin/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    /*.input-append input {
        position: relative;
        margin-bottom: 0px;
        vertical-align: top;
        font-size: 14px;
        border-radius: 0px 4px 4px 0px;
    }*/

    /*#transmerchantid,#email {
        background-color: #FFF;
        border: 1px solid #CCC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        line-height: 20px;
        color: #555;
        display: inline-block;
        height: 20px;
        padding: 4px 6px;
        background: none repeat scroll 0% 0% #FFF;
        margin: 0px 5px 0px 0px;
        width: 206px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        white-space: nowrap;
    }*/
</style>

<div class="mid_margin">

    @using (Ajax.BeginForm("BYPTransactions", "Care",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frmBYPTransactions" }))
    {
  
        <div class="lef-pan">

            <div class="dRow">
                <h2>BYP Transactions</h2>
            </div>

            <div class="dRowvlg">

                <div class="input-append">

                    @Html.TextBox("transmerchantid", "", new { @placeholder = "TransactionID",@style="height: 30px;margin: 0px 5px 0px 0px;" })
                    @Html.TextBox("email", "", new { @placeholder = "Email",@style="height: 30px;margin: 0px 5px 0px 0px;" })
                    @Html.DropDownList("ddlDokuStatus", new List<SelectListItem>(ViewBag.Dokustatuslist), "--Status--", new {@style="hmargin: 0px 5px 0px 0px;" })

                    <button class="btn" type="submit">
                        <i class="icon-search"></i>&nbsp;Search</button>
                    @* <button class="btn" type="button" onclick="window.location.href='/Admin/BYPTransactionCsvList';">
                <i class="icon-search"></i>&nbsp;Export CSV
            </button>*@
                </div>

            </div>

            <div id="grid-list">
                @{ 
        if (Model.Count > 0)
        {
            Html.RenderPartial("_Ajax_BYPTransactions", Model);
        }
        else
        { 
                    <span>No Records found!
                    </span>}
            
                }
            </div>

        </div>

        @Html.Partial("RightNav_PartialView")

    }
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

</script>
