@model si_bmobile.Models.FPModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

<div class="abt-main">
    @using (Html.BeginForm("ForgotPassword", "Care", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmForgotPassword", @class = "smart-form", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="login-main">
            <div class="log-inn">
                <div class="log-hed"> Forgot Password </div>
                @*@if (ViewBag.Message != null)
                {
                    <div style="clear:both;"></div>
                    <div class="alert-box success">
                        @ViewBag.Message
                    </div>
                }*@
                <div class="log-mn">
                    <div class="log-nm"> E-Mail: </div>
                    <div class="log-txt">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "E-mail", maxlength = 50 })                        
                    </div>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="log-sbmt"><input id="btnSubmit" type="submit" class="btn-sbmt" value="Submit"></div>
            </div>
        </div>
    }
</div>


<div id="div_dialog" style="display: none;">
    <p>@ViewBag.Message</p>
</div>



<style type="text/css">
    #loading_dialog_fullpage {
        color: #000;
        position: absolute;
        z-index: 1000;
        height: 220px;
        padding-left: 425px;
        padding-top: 50px;
        /*background-color: #CCC;*/
        -khtml-opacity: 0.6;
        -moz-opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: .60;
        width: 990px;
    }
</style>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $("#div_dialog").dialog({
            title: "Message",
            buttons: {
                Close: function () {
                    $(this).dialog('close');
                    window.location.href = "../Care/Login";
                }
            },
            dialogClass: 'dialog_css',
            width: 300,

            closeOnEscape: false,
            draggable: false,
            resizable: false,
            modal: true
        });

    </script>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('button.close').click(function () {
            $(this).parents('#msg_pan').fadeOut('slow');
        });

    </script>
}

<script type="text/javascript">

    $("#btnSubmit").click(function () {

        var sEmail = $('#Email').val();

        if (sEmail != null) {
            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (filter.test(sEmail)) {
                $('#loading_dialog_fullpage').css('display', 'block');
                $("#btnSubmit").hide();
            }
        }

    });



</script>