@model si_bmobile.Models.ResetModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/bm_Layout_Care.cshtml";
}





<div class="mid_margin">
     <div class="frmwidget">
    <article class="col-sm-12 col-md-12 col-lg-10" style="margin-top: 20px;">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-user"></i></span>
                <h2>Reset Password </h2>
            </header>
            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    @using (Html.BeginForm("ResetPassword", "Care", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmReset", @class = "smart-form", novalidate = "novalidate" }))
                    {	    
                        @Html.AntiForgeryToken()                             
                           @Html.HiddenFor(model => model.UserId)
                        @*if (ViewBag.Message != null)
                        {
                        <fieldset id="msg_pan">
                            <div class="alert alert-warning fade in">
                                <button class="close" type="button" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-warning"></i>
                                <strong>Warning</strong> @ViewBag.Message
                            </div>
                        </fieldset>
                        }*@                      
                        <fieldset>
                            <section>
                                <b>Current Password:&nbsp;</b>
                                <label for="OldPassword" class="input">
                                    @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Current Password" ,autocomplete = "off"})
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </label>
                            </section>
                            <section>
                                <b>New Password:&nbsp;</b>
                                <label for="NewPassword" class="input">
                                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New Password",autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </label>
                            </section>
                            <section>
                                <b>Confirm Password:&nbsp;</b>
                                <label for="ConfirmPassword" class="input">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password",autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </label>
                            </section>
                        </fieldset>  
                        <footer>

                            <button id="btnCancel" class="btn btn-mini top_btn" type="button" onclick="window.location='/Care/RefreshACC'" >Cancel</button>  
                                            <button id="btnSubmit" class="btn btn-mini top_btn" type="submit" >Submit</button>
                        </footer>
                    }
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </article>
    <!-- END COL -->
         </div>
    @if (Session["subscriber"] != null)
    {
     @Html.Partial("RightNav_PartialView")
    }
</div>


@*<div class="DivLeft">
    <h2>Reset Password</h2>
    @using (Html.BeginForm("ResetPassword", "Care", FormMethod.Post, new { id = "frmReset", enctype = "multipart/form-data" }))
    {
          @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)
        <div class="DivRow">
            <div class="DivLabel">
                Old Password:
            </div>
            <div class="DivTxt">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "Txtbox" })
                @Html.ValidationMessageFor(model => model.OldPassword)

            </div>
            
        </div>
        <div class="DivRow">
            <div class="DivLabel">
                New Password:
            </div>
            <div class="DivTxt">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "Txtbox" })
                @Html.ValidationMessageFor(model => model.NewPassword)

            </div>
            
        </div>
        <div class="DivRow">
            <div class="DivLabel">
                Confirm Password:
            </div>
            <div class="DivTxt">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "Txtbox" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
                <div class="DivRow">
            <div class="DivLabel">
                &nbsp;
            </div>
            <div class="DivTxt">
                <input type="submit" value="Confirm" />&nbsp;    @Html.ActionLink("Cancel", "RefreshACC", "Care")
            </div>
        </div>
        
    }
</div>*@
<div id="div_dialog" style="display: none;">
            <p>@ViewBag.Message</p>
        </div>
@if (ViewBag.Message != null)
{ 
    <script type="text/javascript">
        $("#div_dialog").dialog({
            title: "Message",
            buttons: {
                Close: function () {
                    $(this).dialog('close');
                }
            },
            width: 300,          
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            modal: true
        });

    </script>
}

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

     <script>
         $('button.close').click(function () {
             $(this).parents('#msg_pan').fadeOut('slow');
         });
    </script>
}

