@model si_bmobile.Models.ResetModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

<div class="abt-main">
    <div class="prm-tab-panel">
        <div class="login-main" style="margin: 0px;">
            @using (Html.BeginForm("ResetPassword", "Care", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmReset", @class = "smart-form", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserId)
                <div class="log-inn">
                    <div class="log-hed"> Reset Password  </div>
                    <div class="log-mn">
                        <div class="log-nm"> Current Password: </div>
                        <div class="log-txt">
                            @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Current Password", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="log-mn">
                        <div class="log-nm"> New Password: </div>
                        <div class="log-txt">
                            @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New Password", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="log-mn">
                        <div class="log-nm"> Confirm Password: </div>
                        <div class="log-txt">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <div class="log-sbmt">
                        <input type="button" class="btn-sbmt" value="Cancel" onclick="window.location='/Care/RefreshACC'">&nbsp;&nbsp;
                        <input type="submit" class="btn-sbmt" value="Submit">
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Session["subscriber"] != null)
    {
        @Html.Partial("_cms_RightNav_Menu")
    }
    <div style="clear:both;"></div>
</div>


<div id="div_dialog" style="display: none;">
    <p>@ViewBag.Message</p>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $("#div_dialog").dialog({
            title: "Message",
            buttons: {
                Close: function () {
                    $(this).dialog('close');
                }
            },
            width: 300,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            modal: true
        });

    </script>
}

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

    <script>
        $('button.close').click(function () {
            $(this).parents('#msg_pan').fadeOut('slow');
        });
    </script>
}