@using MvcPaging
@model List<bemobile.Models.DokuCareModel>
@{
    ViewBag.Title = "TopUp Transactions";

    Layout = "~/Views/Shared/bm_Layout_SCareUser.cshtml";
}

@*<h2>TopUp Transactions</h2>*@
<div class="divheader">
    TOPUP TRANSACTIONS
</div>
@using (Ajax.BeginForm("TopupTransactions", "Account",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frmAccTopupTransactions" }))
{
 <div style="float:right;">
          @Html.ActionLink("Logout","Logout")
          </div>
    <div style="clear:both;"></div>
    <div class="dRowvlg">

        <div class="input-append">

             @Html.TextBox("transmerchantid", "", new { @placeholder="TransactionID", @style="width:100px;"})
             @Html.TextBox("mobile_no", "", new { @placeholder="Mobile Number" ,@style="width:100px;"})
             @Html.TextBox("sFrom", "", new { @placeholder="Date From" ,@style="width:100px;"})
             @Html.TextBox("sTo", "", new { @placeholder="Date To",@style="width:100px;"})

            <button class="btn" type="submit" name="Command" value="Search">
                <i class="icon-search"></i>&nbsp;Search
            </button>
             <button class="btn" type="button" onclick="window.location.href='/Account/TopupTransactionCsvList';">
                <i class="icon-search"></i>Export&nbsp;CSV
            </button>
        </div>

    </div>
    
    
    <div id="grid-list">
        @{ Html.RenderPartial("_Ajax_TopupTransactions", Model); }
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#sFrom").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-104:+0",
                beforeShow: function () {
                    jQuery(this).datepicker('option', 'maxDate', jQuery('#sTo').val(), 'dd/mm/yy');
                }
            });

            $("#sTo").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-104:+0",
                beforeShow: function () {
                    jQuery(this).datepicker('option', 'minDate', jQuery('#sFrom').val(), 'dd/mm/yy');
                }
            });
        });

    </script>
}


<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

</script>
