@model si_bmobile.Models.Transaction_LogDetail


        <td>
            @Model.id
        </td>
        <td>
            @Model.appTxId
        </td>
        <td>
            @Model.type
        </td>
        <td>
            @Model.status
        </td>
        <td>
            @Model.details
        </td>
        <td>
            @Model.date
        </td>

