@using MvcPaging
@model IPagedList<si_bmobile.Models.Menu_Model>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Menu Name
            </th>
            <th>Parent Title<br />(<small> under the title menus should be displayed</small>)
            </th>
            <th>Status
            </th>
            <th>Edit
            </th>
            <th>Delete
            </th>

    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.menu_name
                </td>
                <td>
                    @item.parent_title
                </td>
                @if (item.active == true)
                {
                    <td>Active
                    </td>
                }
                else
                {
                    <td>InActive
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "update_menu", new { id = @item.Menu_Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "delete_menu", new { id = @item.Menu_Id }, new { @onclick = "return confirm('Are you sure,want to delete this Menu?')" })
                </td>
            </tr>
            }

        }
    </tbody>
</table>
<div class="pager1">
    @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Admin", action = "menus" }))

    <div class="well">
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries
    </div>
</div>

