@model si_bmobile.Models.tbl_menu

@{
    ViewBag.Title = "update menu";
    Layout = "~/Views/Shared/bm_Layout_Admin.cshtml";
}

@using (Html.BeginForm("update_menu", "Admin", FormMethod.Post, new { id = "frmupdate_menu", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="divheader">
        UPDATE MENU
    </div>
    <div class="maindivlayout">
        @Html.HiddenFor(m=>m.id)
        @Html.HiddenFor(m=>m.is_deleted)
        <div>
            <div class="divlabel">
                Menu Name
            </div>
            <div class="divtxt">
                @Html.TextBoxFor(model => model.menu_name)
                @Html.ValidationMessageFor(model => model.menu_name)
            </div>
            <div class="clear"></div>
        </div>

        <div>
            <div class="divlabel">
                Page Name
            </div>
            <div class="divtxt">
                @Html.TextBoxFor(model => model.page_name)
                @Html.ValidationMessageFor(model => model.page_name)
            </div>
            <div class="clear"></div>
        </div>

        <div>
            <div class="divlabel">
                Parent Title(<small>under the title menu to displayed</small>)
            </div>
            <div class="divtxt">
                @Html.TextBoxFor(model => model.parent_title)
            </div>
            <div class="clear"></div>
        </div>

        <div>
            <div class="divlabel">
                IsActive
            </div>
            <div class="divtxt">
                @Html.CheckBoxFor(model => model.is_active)
                @Html.ValidationMessageFor(model => model.is_active)
            </div>
            <div class="clear"></div>
        </div>

        <div style="padding-top: 10px;">
            <div class="divlabel">&nbsp;</div>
            <div class="divtxt">
                <input type="submit" value="Update" />&nbsp;<input type="button" onclick="window.location.href = '/Admin/menus';" value="Cancel" />
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>

    <div id="div_dialog" style="display: none;">

        <p>@ViewBag.Message</p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>

    @if (ViewBag.Message != null)
    { 
        <script type="text/javascript">
            $(document).ready(function () {
                $("#div_dialog").dialog({
                    title: "Message",
                    buttons: {
                        Close: function () {
                            $(this).dialog('close');
                            var message = '@ViewBag.Message'

                            if (message == "Menu updated successfully")
                                window.location.href = '@Url.Action("menus", "Admin")';
                        }
                    },
                    width: 350,
                    dialogClass: 'dialog_css',
                    autoOpen: true,
                    closeOnEscape: false,
                    draggable: false,
                    resizable: false,
                    modal: true
                });
            });
        </script>
    }
}
