@model si_bmobile.Models.top_kad_verify_model
@{
    ViewBag.Title = "Verify Top Kad";
    Layout = "~/Views/Shared/bm_Layout_Admin.cshtml";
}
@using (Html.BeginForm("VerifyTopKad", "Admin", FormMethod.Post, new { id = "frmVerifyTopKad", enctype = "multipart/form-data" }))
{
    <div class="divheader">
        Verify TOPKAD
    </div>
    <div class="maindivlayout">
         <div>
            <div class="divlabel" style="padding-bottom: 10px;">
               MSISDN
            </div>
            <div class="divtxt">
               @Html.TextBoxFor(m=>m.msisdn)
                @Html.ValidationMessageFor(m=>m.msisdn)
            </div>
            <div class="clear"></div>
        </div>
         <div>
            <div class="divlabel" style="padding-bottom: 10px;">
             Confirm  MSISDN
            </div>
            <div class="divtxt">
               @Html.TextBoxFor(m=>m.confirm_msisdn)
                @Html.ValidationMessageFor(m=>m.confirm_msisdn)
            </div>
            <div class="clear"></div>
        </div>
         <div>
            <div class="divlabel" style="padding-bottom: 10px;">
               Serial Number
            </div>
            <div class="divtxt">
               @Html.TextBoxFor(m=>m.serial_number)
                @Html.ValidationMessageFor(m=>m.serial_number)
            </div>
            <div class="clear"></div>
        </div>
         <div>
            <div class="divlabel" style="padding-bottom: 10px;">
               Invoice
            </div>
            <div class="divtxt">
               @Html.TextBoxFor(m=>m.invoice)
                @Html.ValidationMessageFor(m=>m.invoice)
            </div>
            <div class="clear"></div>
        </div>
        <div style="padding-top:10px;">
            <div class="divlabel">&nbsp;</div>
            <div class="divtxt">
                <input type="submit" value="Verify" />&nbsp;<input type="button" onclick="window.location.href = '@Url.Action("VerifyTopKad", "Admin")    '" value="Reset" />
            </div>
            <div class="clear"></div>
        </div>
          <div class="clear"></div>
    </div>
    }
<div style="clear: both;"></div>

<div id="div_bundle_dialog" style="display: none;">
    <p>@ViewBag.Msg</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    @if (ViewBag.Msg != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {       
                $("#div_bundle_dialog").dialog({
                    title: "Message",
                    buttons: {
                        Close: function () {
                            $(this).dialog('close');
                            window.location.href ='@Url.Action("VerifyTopKad", "Admin")';
                        }
                    },
                    dialogClass: 'dialog_css',
                    width: 350,                   
                    autoOpen: true,
                    closeOnEscape: false,
                    draggable: false,
                    resizable: false,
                    modal: true
                });
            });
        </script>   
   
    }
}
